[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "~= 1.0"
python-dotenv = "*"
requests = "*"
"beautifulsoup4" = "*"
"html5lib" = "*"
flask-wtf = "*"

[dev-packages]
sure = "*"
httpretty = "*"
pytest = "*"
pylint = "*"

[requires]
python_version = "3.6"
