{% extends "base.html" %}

{% block content %}
<div class="main-window h-x-app">
  <div class="window-title">
    <h3 class="window-name p-name u-url">DummyAuth</h3>
  </div>
  <div class="window-content">
    <div class="window-left-margin">
      <img class="u-icon" alt="DummyAuth icon." src="{{ url_for('static', filename='success.png') }}">
    </div>
    <div class="window-text">
      <p>
        You have been successfully identified as <strong>{{ profile }}</strong>.
      </p>

      <p>
        Note that this application has only verified your identity using your
        IndieAuth provider as set on your homepage. You cannot do anything else
        using this application.
      </p>

      <p>
        Log out once you are tired of reading this message.
      </p>

      <form method="POST" action="{{ url_for('logout') }}">
        <div class="">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          <button class="form-button" type="submit">Clear my session</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
