{% extends "base.html" %}

{% block content %}
  <div class="main-window">
    <div class="window-title h-x-app">
      <img class="u-icon" alt="DummyAuth." src="{{ url_for('static', filename='keys.png') }}">
      <h3 class="window-name p-name">
        <a href="{{ url_for('login', _external=True) }}" class="u-url">
          DummyAuth
        </a>
      </h3>
    </div>
    <div class="window-content">
      <div class="window-left-margin">
        <img alt="DummyAuth icon." src="{{ url_for('static', filename='keys.png') }}">
      </div>
      <div class="window-text">
        <p>A sample application to test your IndieAuth login endpoint.</p>

        <form method="POST" action="{{ url_for('login') }}">
          <div class="form-row">
            {{ form.domain.label(class_='form-label') }}
            <div class="form-field">
              {{ form.domain(class_='form-input') }}
              {% if form.domain.errors %}
              <br>
              <span class="form-error">{{ '<br>'.join(form.domain.errors) }}</span>
              {% endif %}
            </div>
          </div>

          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <div class="form-buttons">
            <button class="form-button" type="submit">Log in</button>
            <a href="https://github.com/danirod/dummyauth/wiki" class="form-button">Help</a>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
